[submodule "Practical"]
	path = Practical
	url = https://github.com/Madhulika024/ML-Practical.git
[submodule "Skill"]
	path = Skill
	url = https://github.com/Madhulika024/ML-Skill.git
[submodule "Customer-Churn-Prediction"]
	path = Customer-Churn-Prediction
	url = https://github.com/Madhulika024/Customer-Churn-Prediction.git
